*{
    margin: 0px;
    padding: 0px;
}
h1{
    margin: 25px;
}
#alert{
    position: absolute;
    left: 50px;
    top: 200px;
}
.test{
    position: relative;
    top: 350px;
}
.container{
    position: relative;
    background-color: bisque;
    height: 1000px;
    width: 1000px;
    margin-left: 50px;
}
.red, .purple{
    display: inline-block;
    margin-top: 10px;
}
.red{
    position: relative;
    background-color: rgb(240, 0, 0);
    height: 300px;
    width: 300px;
}
.purple{
    background-color: rgb(150, 3, 137);
    height: 300px;
    width: 300px;
}