*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}
.flex-container{
    width: 700px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.user-card{
    width: 100%;
    background-color: green;
    border: 2px solid yellow;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.card-header{
    background-color: #17a2b8;
    height: 130px;
    margin-bottom: 80px;
}
.card-body{
    padding: 20px;
    margin-top: 60px;
}
.card-body h1, 
.card-body h2, 
.card-body h3, 
.card-body p{
    margin: 20px 0px;
}
.avatar-m{
    border-radius: 50%;
    background-color: red;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    top: 100px;
}
.icon-s{
    height: 20px;
}
a{
    color: #3a81e6;
}