body{
    background-color: burlywood;
}
h1{
    text-align: center;
}
#centerImg{
    text-align: center;
}
.tomato{
    background-color: tomato;
    padding: 10px;
}
td,th{
    border-style: solid;
    padding: 8px;
}
.widen{
    width: 90px;
    text-align: center;
}
table{
    border-collapse: collapse;
}
#submit{
    padding: 15px;
    background-color: gold;
    border-radius: 10px;
    border: none;
}
.form-group{
    padding-bottom: 10px;
}